@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Marker+Hatch&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
margin: 0;
padding: 0;
}
header {
    margin-bottom: 0%;
   
}
.navbar-nav{
    margin-left: auto;
    }
.navbar{
    background-color:rgb(28, 162, 215);
    width: 100%;
    height: 70px;
}
.navbar-brand{
    font-family: "Permanent Marker", cursive;

}
Span{
    font-family: "Permanent Marker", cursive;
    color: darkorchid;
}
.nav-link{
    font-family: "Permanent Marker", cursive;
    color: white;
}

html{
    scroll-behavior: smooth;
}

.content{
    z-index: 1;
    position: relative;
}
.main{
     height: 700px;
     position: relative;
     background-size: cover;
     background-position: left;
     z-index: 1;
}
.background{
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 50%;
}
.top-background{
    background-image: url(img/fondo\ jordan.jpeg);
    background-size: cover;
    background-position: center;
    top: 70px;
}

h1{
    background-color: darkorchid;
    text-align: center;
    font-family: "Rubik Marker Hatch", system-ui;
    font-weight: 400;
    font-style: normal;
    padding: 10px;
}
form {
    background-color: aliceblue;
    position: absolute;
    left: 36%;
    top: 20%;
}

h3 {
    font-size: 30px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-align: center;
}

h2 {
    text-align: center;
    font-family: "Rubik Marker Hatch", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: darkorchid;
    text-transform: uppercase;
    padding: 17px;
}

.sec1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: stretch;
}

.caja1 {
    height: 120px;
    width: 120px;
    background-image: url(img/LOGO\ NIKE.png);
    background-size: cover;
    background-position: center;
    border: 3px solid;
}

.caja2 {
    height: 120px;
    width: 120px;
    background-image: url(img/logo\ adidas.png);
    background-size: cover;
    background-position: center;
    border: 3px solid;
}

.caja3 {
    height: 120px;
    width: 120px;
    background-image: url(img/vans\ logo\ 2.png);
    background-size: cover;
    background-position: center;
    border: 3px solid;
}

.caja4 {
    height: 120px;
    width: 120px;
    background-image: url(img/new-balance.jpeg);
    background-size: cover;
    background-position: center;
    border: 3px solid;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: azure;
    color: rgb(0, 0, 0);
}

.inicio {
    text-align: center;
}

.carousel {
    margin-top: 20px;
    width: 100%;
    max-width: 100%;
    margin: 0% auto;
    height: 475px;
    margin-bottom: 0;
}

.carousel-item {
    width: 100%;
    height: 475px;
}

.carousel-image {
    width: 100%;
    height: 150px;
    
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

button {
    background-color: #184ec3;
    color: violet;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #184ec3;
}

.section1 {
    color: blue;
}
.card{
    width: 350px;
    height: 700px;
    margin-left: 100px;
    margin-bottom: 200px;
    margin-right: 700px;
}

.btn-floating i {
    line-height: 1; 
    display: inline-block;
    vertical-align: middle; 
}
.btn {
    padding: 10px; 
    line-height: 1; }
footer{
    margin-top: 100px;
}
